
@{
    ViewBag.Title = "Index";
}
<link href="~/Content/Site.css" rel="stylesheet" />


<center>
    <br />
    <br />
    <h1 class="chandru"> Sports Survey App</h1>
</center>




<head>

    <style>

        body {
            background-image: url("https://thumbs.dreamstime.com/b/color-sport-background-football-soccer-basketball-hockey-box-tennis-baseball-illustration-colorful-people-silhouett-silhouettes-140041551.jpg");
            background-repeat: no-repeat;
            background-position-x: center;
            background-position-y: 150px;
            background-size: cover;
        }

        .chandru {
            color: blue;
            font-family: cursive;
        }
    </style>


</head>

@*@{
        ViewData["Title"] = "Home Page";
    }

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@
