
@{
    ViewBag.Title = "Index";
}
<link href="~/Content/Site.css" rel="stylesheet" />


<center>
    <br />
    <br />
    <h1 class="chandru"> Sports Survey App</h1>
</center>




<head>

    <style>

        body {
            background-image: url("https://images.unsplash.com/photo-1587280501635-68a0e82cd5ff?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
            background-repeat: no-repeat;
            background-position-x: center;
            background-position-y: center;
            background-size: cover;
        }

        .chandru {
            color: blue;
            font-family: cursive;
        }
    </style>


</head>

@*@{
        ViewData["Title"] = "Home Page";
    }

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@
