<style>



    body {
        background-color: lightpink;
        background-image: url("https://tse2.mm.bing.net/th/id/OIP.AugOblbBl91_R9R68Bw6twAAAA?pid=ImgDet&w=200&h=200&rs=1");
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: center;
        background-size: auto;
    }
</style>
<h4>
    <br />
    <br />
    <center>
        <a asp-controller="PopularSport" asp-action="Popular">View Popular Sport</a>
    </center>
</h4>