@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    .example_b {
        color: red;
        text-transform: uppercase;
        text-decoration: none;
        background: #f1a7a7;
        padding: 40px;
        border-radius: 50px;
        border-bottom: medium;
        display: inline-block;
        border: none;
        transition: all 0.4s ease 0s;
    }

        .example_b:hover {
            text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
            -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
            -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
            transition: all 0.4s ease 0s;
        }





    body {
        background-image: url("https://wallpaper-mania.com/wp-content/uploads/2018/09/High_resolution_wallpaper_background_ID_77701686405.jpg");
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: top;
        background-size: cover;
    }
</style>
<center>
    <h1>User Dashboard</h1>
</center>
<br />
<br />
<div class="button_cont" align="center">
    <a class="example_b" href="https://localhost:5001/Sports/GetSport" target="_blank" rel="nofollow noopener">Sports List</a>
</div>
<br />
<br />

<div class="button_cont" align="center">
    <a class="example_b" href="https://localhost:5001/Survey/RatingSport" target="_blank" rel="nofollow noopener">Click For Sports Rating</a>
</div>

